<div class="container d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <h2 class="text-center">Bienvenido {{user.first_name}}!!!</h2>
        <hr>
        <p><span class="fw-bold">Nombre:</span> {{user.first_name}}</p>
        <p><span class="fw-bold">Apellido:</span> {{user.last_name}}</p>
        <p><span class="fw-bold">Edad:</span> {{user.age}}</p>
        <p><span class="fw-bold">Correo electrónico:</span> {{user.email}}</p>
        <br>
        <div class="text-center">
            <a href="/products" class="btn btn-primary">Comprar</a>
        </div>
        <br>
    </div>
</div>